<% if user_signed_in? %>
  <h1>Create a New Bill</h1>

  <%= form_for [@household, @bill] do |f| %>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
      <br>
    <%= f.label :date %>
    <%= f.text_field :date %>
      <br>
    <%= f.label :kind %>
    <%= f.text_field :kind %>
      <br>
    <%= f.submit "Generate Bill" %>
  <% end %>

  <%= link_to "Back to Home Page", root_path %>
<% else %>
  <h2>Need to be signed in to add a bill!</h2>
<% end %>
