<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script>
   $(function() {
     $( "#datepicker" ).datepicker({
       altFormat: "dd M yy",
       dateFormat: "dd M yy",
     });
   });
  </script>

<% if user_signed_in? %>
  <h1>Create a New Bill</h1>

  <%= form_for [@household, @bill] do |f| %>
    <%= f.label :amount, "Amount ($)" %>
    <%= f.text_field :amount %>
      <br>
    <%= f.label :date %>
    <%= f.text_field :date, :id => "datepicker" %>
      <br>
    <%= f.label :kind %>
    <%= f.select(:kind, options_for_select(@kinds))%>
      <br>
    <%= f.submit "Generate Bill" %>
  <% end %>

  <%= link_to "Back to Home Page", root_path %>
<% else %>
  <h2>Need to be signed in to add a bill!</h2>
<% end %>
